@media screen and (max-width: 950px) {
    .connect {
        height: auto;
        padding: 30px 0;

        background-size: 100% ;
    }

  .connect .container {
        gap: 24px;
        grid-template-columns: 1fr;
     }

     .connect .desc h2 {
        width: 320px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
     }   

     .connect .desc p  {
        display: none;
      }

      .placeholder {
        text-align: center;
      }

      .placeholder img {
        width: 300px;

      }

}
